# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
SW Expert 공부/.vs/SW Expert 공부/v16/Browse.VC.db
SW Expert 공부/.vs/SW Expert 공부/v16/Browse.VC.db-shm
SW Expert 공부/.vs/SW Expert 공부/v16/Browse.VC.db-wal
SW Expert 공부/.vs/SW Expert 공부/v16/Browse.VC.opendb
